//571px is the first to accept gtc 5 => min-width
//407px is the first to accept gtc 3
//280px is the first to accept gtc 2

@media screen and (max-width: 1200px) {
  .section {
    padding: 2rem 2.5rem;
  }

  .main-title {
    h2 {
      font-size: 2.8rem;
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--clr-grey-5);
    .control {
      margin: 0.4rem 0.3rem;
    }
  }

  header {
    padding: 0;
    .header-content {
      display: block;
      .left-header {
        display: block;
        .shape-1 {
          display: none;
        }
        .image {
          margin: 0 auto;
          height: 80%;
          width: 38%;
        }
      }
      .right-header {
        display: block;
        h1 {
          text-align: center;
          font-size: 2.5rem;
          .description {
            font-size: 2rem;
          }
        }
        .self-intro {
          padding: 0;
          padding-top: 2.5%;
          margin: 1rem;
        }
        .home-btn-container {
          padding-left: 15rem;
          padding-right: 0;
          padding-bottom: 5rem;
          justify-content: center;
        }
      }
    }
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
    .btn-container {
      margin-bottom: 1.5rem;
    }
    .right-about {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .course {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolios {
    padding-bottom: 6rem;
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .contact-content {
    flex-direction: column;
    .left-contact {
      font-size: 1rem;
    }
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
      .contact-form {
        margin-bottom: 5rem;
      }
    }
  }
}

/*media for skills icon */
@media screen and (max-width: 1497px) {
  .about-stats {
    .skills {
      .programming-lang {
        .proficiency {
          grid-template-columns: repeat(1, 1fr);
          .excellent {
            border-right: none;
          }
        }
      }
      .figures {
        grid-template-columns: repeat(7, 1fr);
      }
      .IDE {
        .figures {
          grid-template-columns: repeat(7, 1fr);
        }
      }
    }
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .about-stats {
    .skills {
      .programming-lang {
        .proficiency {
          grid-template-columns: repeat(1, 1fr);
          .excellent {
            border-right: none;
          }
        }
      }
      .figures {
        grid-template-columns: repeat(5, 1fr);
      }
      .IDE {
        .figures {
          grid-template-columns: repeat(5, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 571px) {
  .about-stats {
    .skills {
      .programming-lang {
        .proficiency {
          grid-template-columns: repeat(1, 1fr);
          .excellent {
            border-right: none;
          }
        }
      }
      .figures {
        grid-template-columns: repeat(3, 1fr);
      }
      .IDE {
        .figures {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 407px) {
  .about-stats {
    .skills {
      .programming-lang {
        .proficiency {
          grid-template-columns: repeat(1, 1fr);
          .excellent {
            border-right: none;
          }
        }
      }
      .figures {
        grid-template-columns: repeat(2, 1fr);
      }
      .IDE {
        .figures {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .about-stats {
    .skills {
      .programming-lang {
        .proficiency {
          grid-template-columns: repeat(1, 1fr);
          .excellent {
            border-right: none;
          }
        }
      }
      .figures {
        grid-template-columns: repeat(1, 1fr);
      }
      .IDE {
        .figures {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
