@media screen and (max-width: 1432px) {
  .section {
    padding: 5rem;
  }

  .blogs {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6rem;
  }

  .contact-content {
    flex-direction: column;
    .left-contact {
      font-size: 1rem;
    }
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
      .form-submit-btn {
        padding-bottom: 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }

  header .left-header .image {
    display: none;
  }
  header .right-header {
    padding: 2rem !important;
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
    }
    .self-intro {
      padding: 0;
    }
    .home-btn-container {
      padding-left: 15rem;
      padding-right: 0;
      padding-bottom: 5rem;
      justify-content: center;
    }
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .portfolio {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .contact-content {
    flex-direction: column;
    .left-contact {
      font-size: 1rem;
    }
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
      .form-submit-btn {
        padding-bottom: 4.5rem;
      }
    }
  }

  .section {
    padding: 2rem 2.5rem;
  }

  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
      .bg-text {
        font-size: 2.5rem;
      }
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--clr-grey-5);
    .control {
      margin: 1rem 0.3rem;
    }
  }
}
